body {
    margin: 0;
    padding: 0;
    background-color: #efeee7;
    font-style: Georgia, "Times New Roman", Times, serif;
    color: #333333;

}

head {
    background-color: #333333;
}

h1 {
    font: #eee;
    font-size: 30px;
    


}

h2 {
    font-size: 25px;
    margin: 0 auto;
}

#main-bio {
    float: left;
    width: 200px;
}

#contact-info {
    float: left;
    width: 70%;
    
    
}

#bio-image {
    float: left;
    width: 10%;
}

ul {
    text-align: end;
}
